{% extends "layout.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <form action="add" method="post">
        {{ form_widget(form) }}
    </form>
{% endblock %}